# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/

# Django
*.sqlite3
/staticfiles
media/
*.log

# Environment variables
.env

# IDE / OS
.vscode/
.idea/
.DS_Store

# Ignore everything in chroma_db except keep the folder itself (we want to push its content)
# We'll add the small files manually
# chroma_db/

# Jupyter / notebooks
.ipynb_checkpoints/

# Streamlit secrets (if any)
.streamlit/